<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Elixir Lang Moscow">

    <title>Elixir meetups in Moscow</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="hack">
    <div class="grid">

      <aside class="cell -3of12">
        <div class="logo__component">
          <img src="<%= static_path(@conn, "/images/elixir-lang-moscow-logo.png") %>"
               alt="Elixir Lang Moscow"
               title="Elixir Lang Moscow" />
        </div>
        <nav class="side-nav__component" role="navigation">
          <ul class="side-nav-list" role="menubar">
            <li role="menuitem">
              <a href="<%= page_path(@conn, :index) %>"><%= gettext "Main" %></a>
            </li>
            <li role="menuitem">
              <a href="<%= event_path(@conn, :index) %>"><%= gettext "Events" %></a>
            </li>
            <li role="menuitem">
              <a href="<%= speaker_path(@conn, :index) %>"><%= gettext "Speakers" %></a>
            </li>
            <li role="menuitem">
              <a href="<%= suggested_talk_path(@conn, :new) %>">
                <%= gettext "Suggest talk" %></a>
            </li>
            <li role="menuitem">
              <a href="https://elixir-slackin.herokuapp.com/"><%= gettext "Join" %></a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="cell -9of12" role="main">
          <%
            info = get_flash(@conn, :info)
            error = get_flash(@conn, :error)
          %>

          <%= if info do %>
            <div class="alert alert-success" role="alert"><%= info %></div>
          <% end %>

          <%= if error do %>
            <div class="alert alert-error" role="alert"><%= error %></div>
          <% end %>

          <%= render @view_module, @view_template, assigns %>

          <footer class="footer__component">
            <div class="footer-wrapper">
              <p>
                Created by <a href="https://github.com/wemake-services">wemake.services</a>,
                special thanks to <a href="http://ura.al">ura.al</a> for the awesome logo.
              </p>
              <p>
                This project is open-source, feel <a href="https://github.com/elixir-lang-moscow/site">free to contribute</a>.
              </p>
            </div>
          </footer>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
