<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Verifications -->
    <meta name="google-site-verification" content="--BlflYyjR6AwOgTB7jMG1_jLHV4p51bEouONNH2CWs" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Meta information -->
    <meta name="author" content="Elixir Lang Moscow">
    <meta name="description" content="Site for Elixir monthly meetups in Moscow">
    <meta name="keywords" content="Elixir, meetup, Moscow">

    <link rel="canonical" href="http://elixir-lang.moscow" />

    <title>Elixir meetups in Moscow</title>

    <!-- Graph API -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_ru" />
    <meta property="og:locale:alternate" content="en_us" />
    <meta property="og:updated_time" content="2016-08-23T13:35:44+06:00" />
    <meta property="og:url" content="http://elixir-lang.moscow" />
    <meta property="og:site_name" content="Elixir Lang Moscow" />
    <meta property="og:title" content="Elixir meetups in Moscow" />
    <meta property="og:description" content="Site for Elixir monthly meetups in Moscow" />
    <meta property="og:image"
          content="https://elixir-lang-moscow.herokuapp.com/images/elixir-lang-moscow-logo-12a9e47c77802b946e60bd7bcf20dbda.png?vsn=d" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Site for Elixir monthly meetups in Moscow" />
    <meta name="twitter:title" content="Elixir meetups in Moscow" />
    <meta name="twitter:site" content="http://elixir-lang.moscow" />
    <meta name="twitter:domain" content="http://elixir-lang.moscow" />
    <meta name="twitter:image:src"
          content="https://elixir-lang-moscow.herokuapp.com/images/elixir-lang-moscow-logo-12a9e47c77802b946e60bd7bcf20dbda.png?vsn=d" />

    <link rel="image_src"
          href="https://elixir-lang-moscow.herokuapp.com/images/elixir-lang-moscow-logo-12a9e47c77802b946e60bd7bcf20dbda.png?vsn=d" />

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="hack">
    <div class="grid">

      <aside class="cell -3of12">
        <div class="logo__component">
          <img src="<%= static_path(@conn, "/images/elixir-lang-moscow-logo.png") %>"
               alt="Elixir Lang Moscow"
               title="Elixir Lang Moscow" />
        </div>
        <nav class="side-nav__component" role="navigation">
          <ul class="side-nav-list" role="menubar">
            <li role="menuitem">
              <a href="<%= page_path(@conn, :index) %>"><%= gettext "Main" %></a>
            </li>
            <li role="menuitem">
              <a href="<%= event_path(@conn, :index) %>"><%= gettext "Events" %></a>
            </li>
            <li role="menuitem">
              <a href="<%= speaker_path(@conn, :index) %>"><%= gettext "Speakers" %></a>
            </li>
            <li role="menuitem">
              <a href="<%= suggested_talk_path(@conn, :new) %>">
                <%= gettext "Suggest talk" %></a>
            </li>
            <li role="menuitem">
              <a href="https://elixir-slackin.herokuapp.com/"><%= gettext "Join" %></a>
            </li>
          </ul>
        </nav>
      </aside>

      <main class="cell -9of12" role="main">
          <%
            info = get_flash(@conn, :info)
            error = get_flash(@conn, :error)
          %>

          <%= if info do %>
            <div class="alert alert-success" role="alert"><%= info %></div>
          <% end %>

          <%= if error do %>
            <div class="alert alert-error" role="alert"><%= error %></div>
          <% end %>

          <%= render @view_module, @view_template, assigns %>

          <footer class="footer__component">
            <div class="footer-wrapper">
              <p>
                Created by <a href="https://github.com/wemake-services">wemake.services</a>,
                special thanks to <a href="http://ura.design">ura.design</a> for the awesome logo.
                Our <a href="http://www.meetup.com/elixir_lang_moscow/">meetup.com</a> page.
              </p>
              <p>
                This project is open-source, feel <a href="https://github.com/elixir-lang-moscow/site">free to contribute</a>.
              </p>
            </div>
          </footer>
      </main>
    </div>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-83012450-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
