<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Elixir Lang Moscow">

    <title>Elixir meetups in Moscow</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="hack">
    <div class="container">

      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->

      <aside>
        <nav class="side-nav__component">
          <ul class="side-nav-list">
            <li><a href="<%= page_path(@conn, :index) %>"><%= gettext "Main" %></a></li>
            <li><a href="<%= event_path(@conn, :index) %>"><%= gettext "Events" %></a></li>
            <li><a href="<%= speaker_path(@conn, :index) %>"><%= gettext "Speakers" %></a></li>
            <li><a href="<%= suggested_talk_path(@conn, :new) %>"><%= gettext "Suggest talk" %></a></li>
            <li><a href="/#about"><%= gettext "About" %></a></li>
            <li><a href="#"><%= gettext "Join" %></a></li>
            <!-- TODO: add 'talks' section with search -->
          </ul>
        </nav>
      </aside>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
