<h1><%= gettext "Events" %></h1>

<div class="events__component">

  <div class="grid -middle">
  <%= for event <- @events do %>

      <div class="cell -6of12">
        <%= render "card.html", event: event, conn: @conn %>
      </div>

  <% end %>
  </div>

</div>
