<h1><%= gettext "Event" %></h1>

<div class="event__component">
  <section>
    <h2><%= @event.location %></h2>
    <%= render "card.html", event: @event, conn: @conn %>
  </section>

  <section>
    <h2><%= gettext "Partners" %></h2>
  </section>
</div>
