<h1>Speakers</h1>

<div class="speakers__component">

  <div class="grid -middle">

    <%= for speaker <- @speakers do %>
    <div class="cell -4of12">
      <%= render "card.html", speaker: speaker, conn: @conn %>
    </div>
    <% end %>

  </div>
</div>
