<h1>Speakers</h1>

<ul>
  <%= for speaker <- @speakers do %>
  <li>
    <strong>Speaker:</strong>
    <strong>
      <a href="<%= speaker_path(@conn, :show, speaker.slug) %>">
        <%= speaker.name %>
      </a>
    </strong>
    <div>
      <img src="<%= avatar_url(speaker) %>" />
    </div>
    <%= speaker.company %>
  </li>
  <% end %>

</ul>
