// Navigation component

@import "../mixins/mixins";
@import "../partials/brand";


.side-nav__component {
  max-width: 75%;
  margin: 5rem auto;

  @include max-width($screen-bg) {
    max-width: 100%;
    margin: 0;
  }

  .side-nav-list {
    @include max-width($screen-bg) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    > li {
      @include max-width($screen-bg) {
        padding-left: 0;
      }

      &::after {
        @include max-width($screen-bg) {
          @include hide();
        }
      }
    }

  }

}
