// How partners renders

@import "../partials/brand";


.event-parners__component {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .event-partner {
    padding: $spacer;

    // Images should be already croped appropriately:
    max-width: 200px;
  }
}
