// Event speakers aka talks

@import "../partials/brand";

$talk-person-image-size: 75px;


.event-speaker__component {
  .event-speaker-event {
    margin-top: $spacer;
  }
}


.talk__component {
  .talk-person-image {
    width: $talk-person-image-size;
    height: $talk-person-image-size;
  }
}
